In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
header = []
for i in range(672):
    header.append(i + 1);
header.append('movimento')
data = pd.read_csv('csv/color_features_32.csv', names=header)

In [6]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,664,665,666,667,668,669,670,671,672,movimento
0,0.000000,0.026276,0.035716,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.095538,0.000000,0.000000,0.036287,0.000000,0.0,0.103960,0.000000,0.099919,NaN
1,0.000000,0.000000,0.026887,0.0,0.0,0.0,0.0,0.0,0.0,0.081381,...,0.087403,0.029836,0.000000,0.104700,0.081808,0.0,0.088064,0.018666,0.091410,NaN
2,0.000000,0.000000,0.031104,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.107370,0.000000,0.000000,0.005238,0.100490,0.0,0.116830,0.000000,0.112290,NaN
3,0.083787,0.000000,0.060771,0.0,0.0,0.0,0.0,0.0,0.0,0.081845,...,0.085148,0.090744,0.049207,0.004721,0.079697,0.0,0.092653,0.083978,0.089052,NaN
4,0.097499,0.000000,-0.000520,0.0,0.0,0.0,0.0,0.0,0.0,0.104510,...,0.102010,0.000786,0.097157,0.007475,0.095477,0.0,0.111000,0.000000,0.106680,NaN

In [8]:
data['movimento'] = 'empty'

for i in range(448):
    data['movimento'].values[i] = 'cubism'
for i in range(449, 895):
    data['movimento'].values[i] = 'express'
for i in range(896, 1391):
    data['movimento'].values[i] = 'impress'
for i in range(1392, 1829):
    data['movimento'].values[i] = 'realism'    
for i in range(1830, 2241):
    data['movimento'].values[i] = 'romanti'        
for i in range(2241, 2650):
    data['movimento'].values[i] = 'surreal'

In [9]:
data.to_csv('color_features_novo_32.csv', index=False)